@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap");

:root {
  --primary: #000;
  --red: #eb5453;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--primary);
  display: flex;
  justify-content: center;
  font-family: "News Cycle", sans-serif;
  color: var(--red);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 1440px;
  height: 700px;
  margin: 111.75px 0 0 0;
}

p {
  width: 90px;
  position: absolute;
  left: -56px;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

.clock {
  position: relative;
  animation: fade 2s linear;
}

.circle {
  border: 1px solid var(--red);
  border-radius: 100%;
}

.circle__one {
  width: 480px;
  height: 480px;
  padding: 15px;
}

.circle__two {
  width: 450px;
  height: 450px;
  position: relative;
}

.circle__three {
  width: 277.54px;
  height: 277.54px;
  position: absolute;
  top: 0;
  animation: tusiCouple 60s linear infinite;
}

.arrows {
  /* width: 224px;
  height: 374px; */
  position: relative;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: var(--red);
  border-radius: 100%;
  position: absolute;
}

.dot__small {
  width: 15px;
  height: 15px;
  background-color: var(--red);
  border-radius: 100%;
  position: absolute;
  left: 130.27px;
  top: -7.5px;
}

.arrow {
  position: absolute;
  bottom: -2px;
  border: 1px solid var(--red);
  border-radius: 4px;
  transform-origin: bottom;
}

.arrow__hours {
  width: 4px;
  height: 108px;
}

.arrow__minutes {
  width: 4px;
  height: 186px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes tusiCouple {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  12.5% {
    transform: translate(50px, 20px) rotate(-29deg);
  }
  25% {
    transform: translate(85px, 80px) rotate(-84deg);
  }
  37.5% {
    transform: translate(50px, 155px) rotate(-117deg);
  }
  50% {
    transform: translate(0px, 170px) rotate(-160deg);
  }
  62.5% {
    transform: translate(-50px, 155px) rotate(-204deg);
  }
  75% {
    transform: translate(-85px, 80px) rotate(-297deg);
  }
  87.5% {
    transform: translate(-50px, 20px) rotate(-320deg);
  }
  100% {
    transform: translate(0, 0) rotate(-360deg);
  }
}
